body
    margin: 0
    background: #cccccc
    color: #545454

.contain
    
    margin: 0 7%
    text-align: center
#titre
    background: url(../images/banner.jpg)
    background-size: cover
    padding: 15% 0
    color: white
    text-align: center
    div
        &:first-child
            font-weight: bold
            font-size: 2em
            font-style: italic
            margin-bottom: .5%

#titre
    div 
         &:nth-child(2)
                    margin: auto
                    height: 1px
                    background-color: #ffffff
                    width: 300px
#titre
    div
        &:last-child
                margin-top: 1%
                    

#magna
    margin-top: 5%
    padding: 5% 35%
    background-color: #ffffff
    div:nth-child(2)
        
        font-weight: 400
        text-transform: uppercase
        font-size: 20px
        margin: 6% 0
#magna
    div:nth-child(3)
        color: #b4b4b4
        margin-bottom: 8%
#magna
    div:last-child
        margin: auto
        text-transform: uppercase
        letter-spacing: 3px
        border: solid 1px black
        padding: 4%
        width: 200px

#card
    display: flex
    flex-wrap: wrap
    margin-top: 5%
    .c
        margin: 1.25%
        width: 47.5%
        background-color: #ffffff
        .imgC
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            color: white
            letter-spacing: 3px 
            background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.303)),url(../images/pic01.jpg)
            background-size: 100%
            height: 200px
        .txtC
            padding: 7% 10%  
            div
                margin-top: 5%!important
                text-transform: uppercase
                border: solid 2px
                width: 50px
                padding: 2% 4%
                margin: auto
        .imgB
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            color: white
            letter-spacing: 3px 
            background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.303)),url(../images/pic02.jpg)
            background-size: 100%
            height: 200px
        .imgD
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            color: white
            letter-spacing: 3px 
            background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.303)),url(../images/pic03.jpg)
            background-size: 100%
            height: 200px
        .imgE
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            color: white
            letter-spacing: 3px 
            background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.303)),url(../images/pic04.jpg)
            background-size: cover
            height: 200px


footer
    margin: auto
    width: 400px
    text-align: center
footer div i 
        margin-left: 1%
    